@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Farsan', cursive;

    --cor1: #b18372;
    --cor2: #F9ECCC;
}

* {
    padding: 0px;
    margin: 0px;
}

p {
    display: inline-block;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 20px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 20px;
}

section {
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    background-color: rgba(114, 115, 115, 0.427);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    line-height: 2em;
    font-size: 2vw;
    font-weight: bolder;
    font-family: var(--fonte2);
}

section.normal {
    background-color: var(--cor1);
    color: white;
}

section.recebe_img {
    display: inline-block;
    background-color: var(--cor1);
    height: 100vh;
    width: 100%;
    color: black;
}

#img1 {
    background: black url(../espantas_lore/gusta2.jpg) right center no-repeat fixed;
    background-size: cover;
}

#img2 {
    background: black url(../espantas_lore/ledao.jpg) right center no-repeat fixed;
    background-size: cover;
}

#img3 {
    background: black url(../espantas_lore/tentaiva1.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}